:root{
  --HunterGreen-color:#386641;
  --MayGreen-color:#6A994E;
  --AndroidGreen-color:#A7C957;
  --Eggshell-color:#F2E8CF;
  --BittersweetShimmer-color:#BC4749;
}

body {
  margin: 100;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}

.kitchenStock{
  margin: 0;
}
.kitchen-stock-headers{
  
  margin:0;
  display: grid;
  grid-template: auto auto / repeat(2,1fr);
  background-color: var(--MayGreen-color);
}

.kitchenStock ul{
  
  margin:0;
  background-color: var(--Eggshell-color);
}
.kitchenStock .food-item{
  text-align: center;
  margin:0;
  background-color: var(--Eggshell-color);
  display:grid;
  grid-template: auto auto / repeat(3,1fr);
}
.kitchenStock h1{
  margin:0;
}
.kitchenStock .add-sign{
  padding: 10px;
  font-size: 50px;
  cursor: pointer;
  justify-self: end;
}
.kitchenStock .edit{
  padding: 10px;
  font-size: 40px;
  transform: rotate(90deg);
  cursor: pointer;
  justify-self: end;
}
.kitchenStock .editing{
  
  position: absolute;
  right: 40%;
  top:20%;
  width: 370px;
  border: 3px solid #73AD21;
  padding: 10px;
}
.kitchenStock input{
 float:right;
}
